__pycache__/
*.pyc

toy_circle_data/01_lsbo_runs/
toy_circle_data/02_cowboys_runs/
toy_circle_data/03_dgbo_reinforce/
toy_circle_data/03_dgbo_runs/
toy_circle_data/03_grid_dgbo_runs/
toy_circle_data/04_dgbo_runs_distillation/
toy_circle_data/09_cowboys_diffusion/
toy_circle_data/09_cowboys_flow_latent/
toy_circle_data/plots/
toy_circle_data/plots_cowboys_diffprior/
toy_circle_data/plots_latent_diffusion/
toy_circle_data/plots_vae/
toy_circle_data/recon_checks/
toy_circle_data/latent_cache/
toy_circle_data/oracle_heatmap/